
## Node Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
docs/_book

# Vuepress build output
docs/.vuepress/dist

# eBook build output
*.epub
*.mobi

#backup files
*.bak
