@require '~vuepress-plugin-tabs/dist/themes/default.styl'

table
  font-size: 1.0rem !important
  overflow: auto !important
  
//Additional custom blocks (Note)
.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.note
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.note
    background-color #f3f5f7
    border-color #42b983
  &.details
    display block
    position relative
    border-radius 2px
    margin 1.6em 0
    padding 1.6em
    background-color #eee
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer

// Support for youtube responsive stuff
.embed-responsive
    position relative
    display block
    width 100%
    padding 0
    overflow hidden
    &::before
        display block
        content ""

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video
    position absolute
    top 0
    bottom 0
    left 0
    width 100%
    height 100%
    border 0

.embed-responsive-21by9
    &::before
        padding-top 42.857143%

.embed-responsive-16by9
    &::before
        padding-top 56.25%

.embed-responsive-4by3
    &::before
        padding-top 75%

.embed-responsive-1by1
    &::before
        padding-top 100%

// Support for column grid layout boxes
.grid_wrapper {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}

.grid_wrapper.two_column {
  grid-template-columns: 1fr 1fr;
}

.grid_wrapper.three_column {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid_wrapper .grid_item {
  border:1px solid gray;
  border-radius: 5px;
  background-color: #dfe2e5;
  margin: 5px;
  padding: 5px;
}
.grid_wrapper .grid_item_heading
{
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}
.grid_wrapper img {
  margin-top: 10px;
}
