$rightAnchorBgColor = dimgray; //#fff;
$rightAnchorTextColor = white; //$textColor;
$rightAnchorFontSize = 14px;
// btn
$rightAnchorBtnTextColor = black; //$rightAnchorTextColor;
$rightAnchorBtnBgColor = white; //$rightAnchorBgColor;
// menu
$rightAnchorMenuTextColor = $rightAnchorTextColor;
